<h2>{{data}}</h2>
<form action="/updtate_profil" method="post">
    <input type="text" name="name" placeholder="New User name">
    <input type="text" name="password" placeholder="New password">
    <button type="submit">Valider</button>
</form>
